@import "compass/css3";

$blob-size:   30px;
$radius:      130px;
$thirty:          ($radius / 2.6) + ($blob-size / 2);
$sixty:       2 * ($radius / 2.6) + ($blob-size / 2);
$fourtyFive:  2 * ($radius / 2.9);
$time:        .2s;



body{
  background:white;
  background-size:cover;
}

.blobs{
  filter:url('#goo');
  position:relative;
  text-align:center;
  margin: 100px auto;
  border: 1px solid white;
}


@keyframes blob-one{
  0%{
    transform: translate(0,0);
  }
  40%{
    transform: translate(0, -$radius);
  }
  80%{
    transform: translate(0, -$radius);
  }

  100%{
    transform: translate(0,0);
  }
}

@keyframes blob-two{
  0%{
    transform: translate(0,0);
  }
  40%{
    transform: translate($thirty, -$sixty);
  }
  80%{
    transform: translate($thirty, -$sixty);
  }
  100%{
    transform: translate(0,0);
  }
}


@keyframes blob-three{
  0%{
    transform: translate(0,0);
  }
  40%{
    transform: translate($sixty, -$thirty);
  }
  80%{
    transform: translate($sixty, -$thirty);
  }
  100%{
    transform: translate(0,0);
  }
}

@keyframes blob-four{
  0%{
    transform: translate(0,0);
  }
  40%{
    transform: translate($radius, 0);
  }
  80%{
    transform: translate($radius, 0);
  }
  100%{
    transform: translate(0,0);
  }
}

@keyframes blob-five{
  0%{
    transform: translate(0,0);
  }
  40%{
    transform: translate($sixty, $thirty);
  }
  80%{
    transform: translate($sixty, $thirty);
  }
  100%{
    transform: translate(0,0);
  }
}

@keyframes blob-six{
  0%{
    transform: translate(0,0);
  }
  40%{
    transform: translate($thirty, $sixty);
  }
  80%{
    transform: translate($thirty, $sixty);
  }
  100%{
    transform: translate(0,0);
  }
}


@keyframes blob-seven {
  0%{
    transform: translate(0,0);
  }
  40%{
    transform: translate(0, $radius);
  }
  80%{
    transform: translate(0, $radius);
  }

  100%{
    transform: translate(0,0);
  }
}
@keyframes blob-eight {
  0%{
    transform: translate(0,0);
  }
  40%{
    transform: translate(-$thirty, $sixty);
  }
  80%{
    transform: translate(-$thirty, $sixty);
  }

  100%{
    transform: translate(0,0);
  }
}
@keyframes blob-nine {
  0%{
    transform: translate(0,0);
  }
  40%{
    transform: translate(-$sixty, $thirty);
  }
  80%{
    transform: translate(-$sixty, $thirty);
  }

  100%{
    transform: translate(0,0);
  }
}
@keyframes blob-ten {
  0%{
    transform: translate(0,0);
  }
  40%{
    transform: translate(-$radius, 0);
  }
  80%{
    transform: translate(-$radius, 0);
  }

  100%{
    transform: translate(0,0);
  }
}
@keyframes blob-eleven {
  0%{
    transform: translate(0,0);
  }
  40%{
    transform: translate(-$sixty, -$thirty);
  }
  80%{
    transform: translate(-$sixty, -$thirty);
  }

  100%{
    transform: translate(0,0);
  }
}
@keyframes blob-twelve {
  0%{
    transform: translate(0,0);
  }
  40%{
    transform: translate(-$thirty, -$sixty);
  }
  80%{
    transform: translate(-$thirty, -$sixty);
  }

  100%{
    transform: translate(0,0);
  }
}

.main-blob-container {
  margin: 75px auto;
  height:200px;
  width:200px;
  text-align: center;
}
.main-blob {
  margin: 0 auto;
  background:#8800ff;
  left:42%;
  top:20%;
  width:200px;
  height:200px;
  line-height:100px;
  text-align:center;
  color:white;
  font-size:40px;
  border-radius:100%;
}

.blob{
  position:absolute;
  background: #8800ff;
  // background: black;
  top: 50%;
  margin-top: -$blob-size/2;
  left: 50%;
  margin-left: -$blob-size/2;
  width: $blob-size;
  height: $blob-size;
  line-height: $blob-size;
  text-align:center;
  color:white;
  font-size:20px;
  border-radius:100%;
  animation:blob-one cubic-bezier(0.770, 0.000, 0.175, 1.000) 4s;

  &:nth-child(2){
    animation-name:blob-two;
    animation-delay: $time;
  }
  &:nth-child(3){
    animation-name:blob-three;
    animation-delay: $time * 2;
  }
  &:nth-child(4){
    animation-name:blob-four;
    animation-delay: $time * 3;
  }
  &:nth-child(5){
    animation-name:blob-five;
    animation-delay: $time * 4;
  }
  &:nth-child(6){
    animation-name:blob-six;
    animation-delay: $time * 5;
  }
  &:nth-child(7){
    animation-name:blob-seven;
    animation-delay: $time * 6;
  }
  &:nth-child(8){
    animation-name:blob-eight;
    animation-delay: $time * 7;
  }
  &:nth-child(9){
    animation-name:blob-nine;
    animation-delay: $time * 8;
  }
  &:nth-child(10){
    animation-name:blob-ten;
    animation-delay: $time * 9;
  }
  &:nth-child(11){
    animation-name:blob-eleven;
    animation-delay: $time * 10;
  }
  &:nth-child(12){
    animation-name:blob-twelve;
    animation-delay: $time * 11;
  }
}
