@import "compass/css3";

$blob-size: 25px;

$radius: 130px;
$fourtyFive: 2 * ($radius / 2.9);
// $thirty:2 * ($radius / 2.9);




body{
  background:white;
  background-size:cover;
}

.blobs{
  filter:url('#goo');
  position:relative;
  text-align:center;
  margin: 100px auto;
  border: 1px solid white;
}


@keyframes blob-twelve-o-clock{
  0%{
    transform: translate(0,0);
  }
  40%{
    transform: translate(0, -$radius);
  }

  100%{
    transform: translate(0,0);
  }
}

@keyframes blob-one-o-clock{
  0%{
    transform: translate(0,0);
  }
  40%{
    transform: translate($fourtyFive, -$fourtyFive);
  }
  100%{
    transform: translate(0,0);
  }
}


@keyframes blob-two-o-clock{
  0%{
    transform: translate(0,0);
  }
  40%{
    transform: translate($radius, 0px);
  }
  100%{
    transform: translate(0,0);
  }
}

@keyframes blob-three-o-clock{
  0%{
    transform: translate(0,0);
  }
  40%{
    transform: translate($fourtyFive, $fourtyFive);
  }
  100%{
    transform: translate(0,0);
  }
}

@keyframes blob-four-o-clock{
  0%{
    transform: translate(0,0);
  }
  40%{
    transform: translate(0px, $radius);
  }
  100%{
    transform: translate(0,0);
  }
}

@keyframes blob-five-o-clock{
  0%{
    transform: translate(0,0);
  }
  40%{
    transform: translate(-$fourtyFive, $fourtyFive);
  }
  100%{
    transform: translate(0,0);
  }
}


@keyframes blob-six-o-clock {
  0%{
    transform: translate(0,0);
  }
  40%{
    transform: translate(-$radius, 0px);
  }

  100%{
    transform: translate(0,0);
  }
}
@keyframes blob-seven-o-clock {
  0%{
    transform: translate(0,0);
  }
  40%{
    transform: translate(-$fourtyFive, -$fourtyFive);
  }

  100%{
    transform: translate(0,0);
  }
}
.main-blob-container {
  margin: 75px auto;
  height:200px;
  width:200px;
  text-align: center;
}
.main-blob {
  margin: 0 auto;
  background:#8800ff;
  left:42%;
  top:20%;
  width:200px;
  height:200px;
  line-height:100px;
  text-align:center;
  color:white;
  font-size:40px;
  border-radius:100%;
}

.blob{
  position:absolute;
  background:#8800ff;
  top: 50%;
  margin-top: -$blob-size/2;
  left: 50%;
  margin-left: -$blob-size/2;
  width: $blob-size;
  height: $blob-size;
  line-height: $blob-size;
  text-align:center;
  color:white;
  font-size:20px;
  border-radius:100%;
  animation:blob-twelve-o-clock cubic-bezier(0.770, 0.000, 0.175, 1.000) 7s;

  &:nth-child(2){
    animation-name:blob-one-o-clock;
    animation-delay: .5s;
  }
  &:nth-child(3){
    animation-name:blob-two-o-clock;
    animation-delay: 1s;
  }
  &:nth-child(4){
    animation-name:blob-three-o-clock;
    animation-delay: 1.5s;
  }
  &:nth-child(5){
    animation-name:blob-four-o-clock;
    animation-delay: 2s;
  }
  &:nth-child(6){
    animation-name:blob-five-o-clock;
    animation-delay: 2.5s;
  }
  &:nth-child(7){
    animation-name:blob-six-o-clock;
    animation-delay: 3s;
  }
  &:nth-child(8){
    animation-name:blob-seven-o-clock;
    animation-delay: 3.5s;
  }
}
